hr{
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
}

.rodape__titulo{
    text-align: center;
}

/*limpando os elementos quenão existem para mobile*/
.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape{
        display: flex;
        /* text-align: center; */
        justify-content: space-around; 
    }

    .rodape__titulo{
        font-size: 24px;
    }

    .lista-rodape{
        display: inline-block;
        width: 25%;
        margin-left: 2em;
    }

    .lista-rodape__titulo{
        margin-bottom: 0.8em;
        color: var(--cinza);
    }

    .lista-rodape__item{
        margin-bottom: 0.8em;
        display: flex;
        align-items: center;
    }

    .lista-rodape__item__link{
        text-decoration: none;
        color: var(--cinza-escuro);
        margin-left: 0.6em;
    }
}

@media screen and (min-width: 1728px) {
    .rodape{
        padding: 3em 0;
    }

    .lista-rodape{
        padding-left: 1em;
        border-left: 1px solid var(--cinza) ;
    }
}